.container {
    max-width: 44rem;
    margin: auto;
    padding: 2rem;
    font-size: 24px;
    font-family: sans-serif;
    line-height: 1.5rem;
}

.heading{
    color: rebeccapurple;
}

.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0rem;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item{
    padding-right: 2rem;
}

.nav-link-text{
    color: black;
}